body {
  font-family: 'Lato', sans-serif;
  background-color: blanchedalmond;
}
.wrapper {
  max-width: 32rem;
  margin:  0 auto;
}
.meme {
  max-width: 32rem;
  margin: 0 auto;
}

.icon-plus {
  display: block;
  width: 2rem;
  height: 2rem;
}


.meme-row {
  display: flex;
  justify-content: space-between;
}
.meme-img {
  display: block;
  margin: 0 auto;
}

details > summary {
  list-style: none;
}
details[open] > summary > .meme-row > .icon-plus {
  transform: rotate(-45deg);
}